ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", ENV{ID_BUS}=="usb", IMPORT{builtin}="blkid", ENV{ID_FS_TYPE}=="?*", ENV{SYSTEMD_WANTS}+="usb-auto-mount@%k.service"
